<div class="dropdown">
  <button id="currency-selection" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" value="EUR">EUR <span class="caret"></span></button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a {{action 'changeSelection' 'EUR'}}>EUR</a></li>
    <li><a {{action 'changeSelection' 'GBP'}}>GBP</a></li>
    <li><a {{action 'changeSelection' 'USD'}}>USD</a></li>
    <li><a {{action 'changeSelection' 'RUB'}}>RUB</a></li>
  </ul>
</div>
<span id="total-info" class="glyphicon glyphicon-info-sign realex-info" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-title="Enter any amount in this field. Realex’s test system ignores the test amount."></span>
