<div class="col-sm-4" style="height: 101vh; background-color: #FEFEFE;">
  <div class="row margin-top">
    <div class="col-sm-12">
      <h2>API Responses</h2>
      <hr width="100%" style="border-top: 1px solid black">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div id="responses"></div>
    </div>
  </div>
</div>
