<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Your Cart</h3>
  </div>
  <div class="panel-body">
    <div class="col-xs-6">
      Name
    </div>
    <div class="col-xs-4">
      Amount
    </div>
    <div class="col-xs-2">
      X
    </div>
    {{#each cartItems as |item index|}}
    <div class="">
      <span>{{item.name}}</span>
      <span>{{item.price}}</span>
      <span>close</span>
    </div>
    {{/each}}
    <div class="col-xs-12">
      Total
    </div>
  </div>
</div>

{{yield}}
