<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Your Cart</h3>
  </div>
  <div class="panel-body">
    {{#each cart-items as |item index|}}
    {{/each}}
    Name Amount Total remove
  </div>
</div>

{{yield}}
