// Imports
@import "dark-theme";
@import "bootstrap";
@import "ember-side-menu";
@import "side-menu";

.product-container {
  width: 247px;
  padding: 0;
  margin: 30px 10px;
  border: 1px solid #EBEAEA;
}
.product-content {
  padding: 25px 10px;
}
.btn-product {
  border-radius: 0;
  text-align: left;
}
.btn-product:hover {
  color: white;
}
.panel {
  margin-top: 30px;
}
.affix {
  width: 300px;
}
.navbar {
  border-radius: 0;
}
