// Imports
@import "dark-theme";
@import "bootstrap";
@import "bootstrap-vertical-tabs.scss";
@import "response-items.scss";
@import "credit-card-form.scss";
@import "processors.scss";
@import "response-drawer.scss";
@import "buttons.scss";
@import "tour-bot-responses.scss";

.navbar {
  border-radius: 0;
}

// Tooltips
.tooltip {
  width: 250px;
}
.tooltip-inner {
  max-width: 250px;
  text-align: justify;
}

.content-container {
  @extend .container;
  margin-left: 0;
  margin-right: 0;
  width: 60%;
  margin-bottom: 55px;
  padding-left: 8%;
}

// The last content container should create a large bottom marin
// so the user can scroll to centre the last piece of content on
// their screens
.content-container:last-child {
  margin-bottom: 155px;
}
