// Imports
@import "dark-theme";
@import "bootstrap";
@import "ember-side-menu";
@import "side-menu";

body {
  min-height: 150vh;
}

.product-container {
  width: 247px;
  padding: 0;
  margin: 30px 10px;
  border: 1px solid rgba(163,163,163,1);
}
.product-content {
  padding: 25px 10px;
}
.btn-product {
  border-radius: 0;
  text-align: left;
  background-color: $brand-primary;
  color: $text-light;
  border-top-color: transparent;
}
.btn-product:hover {
  color: white;
}
.panel {
  margin-top: 30px;
}
.affix {
  width: 300px;
}
.navbar {
  border-radius: 0;
}

/* Styling for the checkout page */
.payment-section {
  min-height: 100vh;
}
.response-item {
  background-color: #FAFAFA;
  border-right: 2px solid #FAFAFA;
  border-left: 2px solid #FAFAFA;
  margin: 15px 0;
  padding: 5px 15px;
  box-shadow: 0 0 5px #26201E;
  border-bottom: 0;
}
/* Classes added to the response panel */
.responses {
  width: 75%;
}
.response-panel {
  height: 101vh;
  background-color: #FEFEFE;
  border-left: 2px solid #dddddd;
  border-right: 2px solid #dddddd
}
.success > .panel-default {
  border-color: #00BF86;
}
.success > .panel-default > .panel-heading  {
  background-color: #2CEFC0;
  color: #3B6264;
}
.success > .panel-default > .panel-heading + .panel-collapse > .panel-body {
  background-color: #80F5D4;
  border-color: #80F5D4;
  color: #3B6264;
}

.error > .panel-default {
  border-color: #D92626;
}
.error > .panel-default > .panel-heading  {
  background-color: #EC9393;
  color: #7A1200;
}
.error > .panel-default > .panel-heading + .panel-collapse > .panel-body {
  background-color: #F2B3B3;
  border-color: #F2B3B3;
  color: #7A1200;
}

.glyphicon {
  margin-right: 10px;
  padding: 0;
}
.remove-response {
  float: right;
}
.glyphicon-remove:before {
  color: $text-dark;
}

// Realex/TestingPays colors
.realex-info {
  color: $brand-danger;
}
.testingpays-info {
  color: $brand-success
}
.tooltip {
  width: 240px;
}
.tooltip-inner {
  max-width: 240px;
}
