// Custom stylings for the different APIs
$realex: #F29023;
$testingpays: $brand-primary;


// Realex
.realex {
  color: $realex !important;
}

.btn-realex {
  @extend .realex;
  border-color: $realex !important;
}

.background-color-realex {
  color: $text-light !important;
  background-color: $realex !important;
}
.badge-realex {
  @extend .badge;
  margin-left: 20px;
  color: $text-light !important;
  background-color: $realex !important;
}

// TestingPays
.testingpays {
  color: $testingpays !important;
}

.btn-testingpays {
  @extend .testingpays;
  border-color: $testingpays !important;
}

.background-color-testingpays {
  color: $text-light !important;
  background-color: $testingpays !important;
}

.badge-testingpays {
  @extend .badge;
  margin-left: 20px;
  color: $text-light !important;
  background-color: $testingpays !important;
}
