<div class="col-xs-1"></div>

<div class="col-xs-7">
  {{#each products as |product index|}}
    {{product-item product=product}}
  {{/each}}
</div>

<div class="col-xs-4">
  {{show-cart}}
</div>

{{outlet}}
